h1{
    color: rgb(89, 212, 89);
}

a{
    color:blueviolet;
    text-decoration: underline;
}

p{
    color:rgb(185, 47, 47);
}

img{
    width: 500px;
}

#boton{
    background: rgb(156, 113, 156);
    padding: 30px;
    border: 5px solid rgb(0, 119, 128);
    margin: 10px;

}

.select{
    background: black;
    color: rgb(255, 255, 255);
    padding: 30px;
    border: 5px solid rgb(114, 11, 11);
    margin:10px ;
}

.card_product{
    color:rgb(31, 180, 38);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background-color: rgb(224, 216, 204);
}

#precio{
    color:blueviolet
}



li{
    color: rgb(230, 55, 200) !important;
}

h1{
    background-color: aqua;
}

p{
    font-size: 10px;
}

.wrapper-card{
    color:green;
    font-family: Arial;
}

.wrapper-card{
    color:yellow;
    font-size:120px;  
}

.wrapper-card{
    color:black;
    font-size: 50px;
    font-family:'Courier New';
    
}
