body{
    background-color: rgb(132, 179, 180);
}


h1{
    position: fixed;
    top:0;
    margin: 0 auto;
    width:100%;
    background-color: rgb(196, 161, 161);
    color: rgb(114, 23, 91);
    text-shadow: 2px 2px 2px rgb(154, 208, 230);
    text-align: center;
}

.imagen{
    width: 200px;
    
}

.select{
    background: rgb(214, 162, 162);
    color: rgb(255, 255, 255);
    border: 5px solid rgb(105, 15, 15);
    margin:10px ;
    width:60%;

}

.select {
    cursor:pointer;
}


.container{
    display:flex;
    gap: 25px;
    
    margin-top: 50px;
}

.description{
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.product{
    color:rgb(18, 22, 18);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: center; 
    background-color: rgb(180, 219, 213);
    border-radius: 15px;
    width: 20%;
    z-index: 0;
    overflow: hidden;
}

  #info {
    position: fixed;
    bottom: 10px; /* Ajusta al fondo */
    left: 10%;
    width: 80%;
    z-index: 1000; /* Mantenerlo visible */
    background-color: rgb(196, 161, 161);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(105, 15, 15);
    padding: 10px;
    text-align: center;
}

